@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

header {
    background-color: #1F2937;   
}

.logo-nav-container {
    display: flex;
    justify-content: space-around;
}

.logo {
    color: white;
    font-size: 20px;
   margin: 20px;
}

li,
ul,
a {
    display: flex;
    text-decoration: none;
    margin: 10px;
    color: white;
    
}


.section-container {
   display: flex;
   height: 80vh;
   align-items: center;
   padding: 210px;
   

  
}

.header-section-left h1 {
    font-size: 48px;
   
}

.header-section-left p {
    font-size: 18px;
   
  
}

.header-section-left h1, p {
    color: #F9FAF8;
    width: 90%;
}

button {
    padding: 8px 35px;
    margin-top: 10px;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: 600;
    font-size: 1em;
}

/* CONTENT SECTION */

content {
    
}

content p {
    color: #1F2937;
}

.random-info {
    text-align: center;
}

.random-info h2 {
    font-size: 36px;
    margin: 50px;
}

.image-content-container {
    text-align: center;
}

.image-content {
  display: inline-block;
  width: 15%;
}

.image-content img {
    border-radius: 20px;
}

/* QUOTE SECTION */

section {
    background-color: #E5E7EB;
    height: 400px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

section h2 {
   width: 64%;
   font-size: 36px;
   font-style: italic;
   color: #1F2937;
   font-weight: 100;
}

section p {
    text-align: right;
    color: #1F2937;
    margin-right: auto;
    font-weight: 500;
}

/* CALL TO ACTION */

.action-call {
    display: flex;
    margin: 120px auto 120px auto;
    width: 70%;
    background-color: #3882F6;
    padding: 50px;
    border-radius: 10px;
    font-size: 20px;
    justify-content: space-around;
}

.action-call-items {
    width: 60%;
    color: #F9FAF8;
    margin-right: 100px;
}

.action-call-items h4 {
    font-size: 1.1em; 
    font-weight: 500;
}

.action-call-items p {
    font-weight: 100;
    font-size: 18px;
}

.action-button {
    border: 2px solid #F9FAF8;
    font-size: 15px;
}

/* FOOTER */

footer {
    background-color: #1F2937;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}